body {
    font-family: sans-serif;
    background: #f4f4f4;
    margin: 10px 0 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#messageInput {
    border-radius: 0 0 0 5px;
    outline: none;
}

.ask-btn {
    border-radius: 0px 0 5px 0;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: all .1s linear;
}

button:hover {
    opacity: 0.8;
}

.response {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.teach-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .1s linear;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin: 16px 0 10px 0;
}

.modal-content input {
    width: calc(100% - 20px);
    background: #f9f9f9;
    margin-bottom: 10px;
    border: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.chat-history {
    text-align-last: left;
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ddd;
    padding: 10px;
    background-repeat: 5px;
    background: #f9f9f9;
    display: none;
}

.chat-entry {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.chat-entry.user {
    justify-content: flex-end;
}

.chat-entry.bot {
    justify-content: flex-start;
}

.chat-bubble {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
}

.chat-entry.user .chat-bubble {
    background-color: #007BFF;
    color: white;
}

.chat-entry.bot .chat-bubble {
    background-color: #e0e0e0;
    color: #000;
}

.chat-controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}